{% extends 'base.html.twig' %}

{% block title %}Hello TechnologieController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link bg-light" href="{{ path('dashboard_category') }}"><svg class="bi bi-plus" width="1rem" height="1rem" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H6a.5.5 0 010-1h3.5V6a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                                <path fill-rule="evenodd" d="M9.5 10a.5.5 0 01.5-.5h4a.5.5 0 010 1h-3.5V14a.5.5 0 01-1 0v-4z" clip-rule="evenodd"></path>
                            </svg> Catégories</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
